<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herb.mbg.mapper.PriceRankingMapper">
  <resultMap id="BaseResultMap" type="com.herb.mbg.model.PriceRanking">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="newprice" jdbcType="DECIMAL" property="newprice" />
    <result column="wpricefloat" jdbcType="DECIMAL" property="wpricefloat" />
    <result column="ypricefloat" jdbcType="DECIMAL" property="ypricefloat" />
    <result column="jpricefloat" jdbcType="DECIMAL" property="jpricefloat" />
    <result column="npricefloat" jdbcType="DECIMAL" property="npricefloat" />
    <result column="newdate" jdbcType="DATE" property="newdate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, standard, origin, newprice, wpricefloat, ypricefloat, jpricefloat, npricefloat, 
    newdate, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.herb.mbg.model.PriceRankingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from price_ranking
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from price_ranking
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from price_ranking
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.herb.mbg.model.PriceRankingExample">
    delete from price_ranking
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.herb.mbg.model.PriceRanking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into price_ranking (name, standard, origin, 
      newprice, wpricefloat, ypricefloat, 
      jpricefloat, npricefloat, newdate, 
      create_time, update_time)
    values (#{name,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, 
      #{newprice,jdbcType=DECIMAL}, #{wpricefloat,jdbcType=DECIMAL}, #{ypricefloat,jdbcType=DECIMAL}, 
      #{jpricefloat,jdbcType=DECIMAL}, #{npricefloat,jdbcType=DECIMAL}, #{newdate,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.herb.mbg.model.PriceRanking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into price_ranking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="standard != null">
        standard,
      </if>
      <if test="origin != null">
        origin,
      </if>
      <if test="newprice != null">
        newprice,
      </if>
      <if test="wpricefloat != null">
        wpricefloat,
      </if>
      <if test="ypricefloat != null">
        ypricefloat,
      </if>
      <if test="jpricefloat != null">
        jpricefloat,
      </if>
      <if test="npricefloat != null">
        npricefloat,
      </if>
      <if test="newdate != null">
        newdate,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="newprice != null">
        #{newprice,jdbcType=DECIMAL},
      </if>
      <if test="wpricefloat != null">
        #{wpricefloat,jdbcType=DECIMAL},
      </if>
      <if test="ypricefloat != null">
        #{ypricefloat,jdbcType=DECIMAL},
      </if>
      <if test="jpricefloat != null">
        #{jpricefloat,jdbcType=DECIMAL},
      </if>
      <if test="npricefloat != null">
        #{npricefloat,jdbcType=DECIMAL},
      </if>
      <if test="newdate != null">
        #{newdate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.herb.mbg.model.PriceRankingExample" resultType="java.lang.Long">
    select count(*) from price_ranking
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update price_ranking
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.standard != null">
        standard = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.origin != null">
        origin = #{record.origin,jdbcType=VARCHAR},
      </if>
      <if test="record.newprice != null">
        newprice = #{record.newprice,jdbcType=DECIMAL},
      </if>
      <if test="record.wpricefloat != null">
        wpricefloat = #{record.wpricefloat,jdbcType=DECIMAL},
      </if>
      <if test="record.ypricefloat != null">
        ypricefloat = #{record.ypricefloat,jdbcType=DECIMAL},
      </if>
      <if test="record.jpricefloat != null">
        jpricefloat = #{record.jpricefloat,jdbcType=DECIMAL},
      </if>
      <if test="record.npricefloat != null">
        npricefloat = #{record.npricefloat,jdbcType=DECIMAL},
      </if>
      <if test="record.newdate != null">
        newdate = #{record.newdate,jdbcType=DATE},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update price_ranking
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      standard = #{record.standard,jdbcType=VARCHAR},
      origin = #{record.origin,jdbcType=VARCHAR},
      newprice = #{record.newprice,jdbcType=DECIMAL},
      wpricefloat = #{record.wpricefloat,jdbcType=DECIMAL},
      ypricefloat = #{record.ypricefloat,jdbcType=DECIMAL},
      jpricefloat = #{record.jpricefloat,jdbcType=DECIMAL},
      npricefloat = #{record.npricefloat,jdbcType=DECIMAL},
      newdate = #{record.newdate,jdbcType=DATE},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.herb.mbg.model.PriceRanking">
    update price_ranking
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="newprice != null">
        newprice = #{newprice,jdbcType=DECIMAL},
      </if>
      <if test="wpricefloat != null">
        wpricefloat = #{wpricefloat,jdbcType=DECIMAL},
      </if>
      <if test="ypricefloat != null">
        ypricefloat = #{ypricefloat,jdbcType=DECIMAL},
      </if>
      <if test="jpricefloat != null">
        jpricefloat = #{jpricefloat,jdbcType=DECIMAL},
      </if>
      <if test="npricefloat != null">
        npricefloat = #{npricefloat,jdbcType=DECIMAL},
      </if>
      <if test="newdate != null">
        newdate = #{newdate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.herb.mbg.model.PriceRanking">
    update price_ranking
    set name = #{name,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      newprice = #{newprice,jdbcType=DECIMAL},
      wpricefloat = #{wpricefloat,jdbcType=DECIMAL},
      ypricefloat = #{ypricefloat,jdbcType=DECIMAL},
      jpricefloat = #{jpricefloat,jdbcType=DECIMAL},
      npricefloat = #{npricefloat,jdbcType=DECIMAL},
      newdate = #{newdate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>